import styles from './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = () => {
  return (
    <>
      <div className={{dotclass (camelCase name)}}>
        {{pascalCase name}} works!
      </div>
    </>
  );
};

export default {{pascalCase name}};
